body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-color: hsl(257, 40%, 49%);
  color: white;
}
.page {
  min-height: 100vh;
  background-image: url('./images/bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  padding: 2rem 1.5rem;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.4;
}

p {
  line-height: 1.6;
}
.header {
    margin-bottom: 3rem;
}
.header img {
    width: 140px;
}
.main {
    text-align: center;
}
.illustration img {
    width: 100%;
    max-width: 320px;
    margin: 0 auto 3rem;
    display: block;
}
.content h1{
    margin-bottom: 1rem;
}
.content p {
    margin-bottom: 2rem;
}
.content button {
    font-family: 'open sans', sans-serif;
    padding: 0.75rem 3rem;
    border: none;
    border-radius: 999px;
    background-color: white;
    color: hsl(257, 40%, 49%);
    font-size: 1rem;
    cursor: pointer;
}
.footer {
    margin-top: 4rem;
    text-align: center;
}
.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
.social-links a {
  width: 36px;
  height: 36px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}
.attribution {
  font-size: 0.75rem;
  opacity: 0.8;
}

.attribution a {
  color: white;
  text-decoration: none;
}

.attribution a:hover {
  color: hsl(300, 69%, 71%);
}
@media (min-width: 1024px) {
    .page{
        background-image: url('./images/bg-desktop.svg');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
        padding: 4rem 6rem;
    }
    .main {
        display: flex;
        align-items: center;
        gap: 4rem;
        text-align: left;
    }
      .illustration img {
    max-width: 650px;
  }
    .content {
    max-width: 520px;
  }

  .content h1 {
    font-size: 2.5rem;
  }
    .footer {
    display: flex;
    justify-content: flex-end;
  }

  .attribution {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}




